/*design System*/
/*

01-----Typography Section
FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
       

font Weight:400
500
600
700

line Height:1


02-----Colors

primary colors: #e67e22

Tint:#fdf2e9;
Shades:#cf711f;
Accents:
Greys:#555

------line-height----
default:1;
small:1.05;
paragraph default:1.6


------ 03 SHADOWS-----



-----04 Border-Radius----




-----05 White Space -----


-----06 Spacing System----
SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128







*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  /*as the user view */
  font-size: 62.5%;
  /*10/16*/
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
}

/*********************************/
/***********General Reuseable Section******************/

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.3rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  /*span ele are inline ele*/
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  font-size: 2rem;

  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 7px;
  text-decoration: none;
  /*Animation using css*/
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: white;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e16b04;
  color: white;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;

  /*to have inside borde so that btn would not 
  jump*/
  /* border: 3px solid white; */
  box-shadow: inset 0 0 0 4px #fff;
}
/*helper class*/
.margin-right-sm {
  margin-right: 1.6rem;
}

.container {
  /**1140px**/
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
}

/*to make grid reuseable*/
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
