/*design System*/
/*

01-----Typography Section
FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
       

font Weight:400
500
600
700

line Height:1


02-----Colors

primary colors: #e67e22

Tint:#fdf2e9;
Shades:#cf711f;
Accents:
Greys:#555

------line-height----
default:1;
small:1.05;
paragraph default:1.6


------ 03 SHADOWS-----



-----04 Border-Radius----
50%



-----05 White Space -----


-----06 Spacing System----
SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
----07 letter-spacing---
0.75px;






*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  /*as the user view */
  font-size: 62.5%;
  overflow-x: hidden;
  /*10/16*/

  /* scroll-behavior: smooth; */
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/*********************************/
/***********General Reuseable Section******************/

.heading-primary,
.heading-secondary,
.heading-teritory {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.3rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-teritory {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  /*span ele are inline ele*/
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;

  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 7px;
  text-decoration: none;
  /* only for neccessary for btn*/
  border: none;
  cursor: pointer;
  font-family: inherit;

  /*Animation using css*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: white;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e16b04;
  color: white;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;

  /*to have inside borde so that btn would not 
  jump*/
  /* border: 3px solid white; */
  box-shadow: inset 0 0 0 4px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #cf711f;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf6901;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: #cf6901;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem hsla(28, 80%, 52%, 0.5);
}
/*helper class*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}

.container {
  /**1140px**/
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
}

/*when two grid in one section*/
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

/*to make grid reuseable*/
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center--v {
  align-items: center;
}

/***********************************/
/***************Header***************/
/*************************************/

.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* we want to the header section to fixed*/
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.Logo {
  height: 2.2rem;
}
/***********************************/
/***************NAVIGATION*******/
/************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #0e0e0e;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e16b04;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf6901;
}

/*MOBILE*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  /*by default*/
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***********************************/
/***************Hero Section*******/
/************************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* background-color: red; */
  max-width: 130rem;
  margin: 0 auto; /*center the element*/
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/*sticky navigation*/

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.hero-decription {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/*hero section button*/

/*delivered section*/

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0px;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #964803;
  font-weight: 700;
}

/*******************************/
/*************Featured-section********/
/******************************/

.featured-section {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #777;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*******************************/
/*************How it works section********/
/******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}
.step-descriptions {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;
  /*we want the circle behind the img*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* to get the height of the incentric height we
  can have padding-bottom*/
  padding-bottom: 60%;

  background-color: #fdf2e9;
  /*z index with grater value will come first*/
  z-index: -1;
}

.step-img-box:after {
  width: 50%;
  /* to get the height of the incentric height we
  can have padding-bottom*/
  padding-bottom: 45%;

  background-color: #fae5df;
  /*z index with grater value will come first*/
  z-index: -1;
}
.step-img {
  width: 35%;
}

/*******************************/
/*************Featured section********/
/******************************/

.section-meal {
  padding: 9.6rem 0;
}

.center-text {
  text-align: center;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /*here image is overflowing the meal container not sh
  owing round corners means overflow*/
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translatey(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.025);
}

.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #333;
  font-weight: 600;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #67ce4d;
}

.tag--paleo {
  background-color: #e0ec5c;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}
.meal-icon {
  font-size: 2.4rem;
  color: #cf6901;
}

.all-recipe {
  text-align: center;
  font-size: 1.8rem;
}

/*diet card*/

/*******************************/
/*************section-testimonials********/
/******************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-items {
  overflow: hidden;
}
.gallery-items img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-items img:hover {
  transform: scale(1.1);
}

/*******************************/
/************Pricing section********/
/******************************/

.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;

  width: 75%;
}
.pricing-plan-starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pricing-plan-complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "Best value";
  position: absolute;
  right: -11%;
  top: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 0.8rem 4rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 1.8rem;
}

.plan-price {
  color: #333;
  font-size: 6.3rem;
  font-weight: 600;
}
.plan-price span {
  font-size: 1.8rem;
  font-weight: 500;
}
.plan-text {
  font-size: 1.6rem;
  font-weight: 1.6rem;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 9.6rem;
}

/* features section*/

.feature-icon {
  color: #cf6901;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: #fdf2e9;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/***********************/
/***********section-cta*****/
/****************************/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* gradient background-color*/
  background-image: linear-gradient(to right bottom, #eb984b, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-image-box {
  background-image: linear-gradient(
      to right bottom,
      hsla(29, 77%, 78%, 0.35),
      hsla(28, 85%, 62%, 0.393)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem hsla(27, 83%, 95%, 0.5);
}

/***********************/
/***********section-footer*****/
/****************************/

.section-footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
